.home {
  background-color: black;
}
body,
html {
    margin: 0;
    height: auto;
    background-color: rgb(0, 0, 0);
}

h1 {
color:rgb(255, 223, 154);
position: absolute;
top:180px;
right: 180px;
font-family: Orbitron;
font-size: 160px;
}

.sky,
.star,
.asteroid {
    position: absolute;
}

.sky {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.star {
    width: 4px;
    height: 4px;
    background-color: rgb(255, 223, 154);
    border-radius: 50%;
    animation: shine 800s infinite linear;
    z-index: 4;
}

.star.scale1 {
    transform: scale(1);
}

.star.scale2 {
    transform: scale(0.5);
}

.star.scale3 {
    transform: scale(1.3);
}

.star.animate1 {
    animation-duration: 0.5s;
}

.star.animate2 {
    animation-duration: 1s;
}

.star.animate3 {
    animation-duration: 1.5s;
}

.star.animate4 {
    animation-duration: 2s;
}

.star.opacity1 {
    opacity: 1;
}

.star.opacity2 {
    opacity: 0.5;
}

.star.opacity3 {
    opacity: 0.2;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
    }
    50% {
        box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.05);
    }
}

.item img {
    width:400px;
    height: 200px;
    border-style: solid;
    border-width: thick thick 0 thick;
    /* Causes the button to sit below the img */
    display:block;
  }
  
  .item button {
    width:410px;
    background-color: white;
    border-style: solid;
    border-width: thick thick thick thick;
    font-family: Orbitron;
    font-weight: 600;
    
  }
  
  .grid {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
    padding-left: 35px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: white;
  }

  .item button:hover {
    color: hotpink;
    cursor: pointer;
  }
  
  .item button:active {
    background-color: black;
  }
